site_name: V2X E2E simulator

theme:
  language: en 
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    # - navigation.instant
    - navigation.sections
    # - navigation.expand
    - navigation.path
    - navigation.footer
    - content.tabs.link
    - search.suggest
    # - search.highlight
    - content.code.copy
  icon:
    repo: fontawesome/brands/github    

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

markdown_extensions:
  - tables
  - admonition
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true  

extra:
  version:
    provider: mike

extra_javascript:
    - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md

  - Getting started:
    - Quick Start Demo: GettingStarted/QuickStartDemo/index.md
    - Setup Unity Project: GettingStarted/SetupUnityProject/index.md
    - Using OpenSCENARIO: GettingStarted/UsingOpenSCENARIO/index.md 

  - Introduction:
    - Autoware, Awsim and Our project : Introduction/AutowareAwsimAndV2X/index.md
    - CombinationWithAutoware: Introduction/CombinationWithAutoware/index.md

  - Project guide:
    - Directory: ProjectGuide/Directory/index.md
    - Kashiwa Scenes: ProjectGuide/KashiwaScenes/index.md
    - Git Branch: ProjectGuide/GitBranch/index.md
    - External Libraries: ProjectGuide/ExternalLibraries/index.md
    - Testing: ProjectGuide/Testing/index.md

  - Components:
    - Pseudo Sensor:
      - Pseudo Sensor: Components/PseudoSensors/PseudoSensors/index.md
      - Add new Pseudo Sensor: Components/PseudoSensors/AddNewPseudoSensors/index.md
    - Vehicle: 
      - URDF And Sensors: Components/Vehicle/URDFAndSensors/index.md
      - Add New Vehicle:
        - Add Vehicle: Components/Vehicle/AddNewVehicle/AddAVehicle/index.md
        - Add Colliders: Components/Vehicle/AddNewVehicle/AddColliders/index.md
        - Add Sensors: Components/Vehicle/AddNewVehicle/AddSensors/index.md
        - Add Visual Elements: Components/Vehicle/AddNewVehicle/AddVisualElements/index.md
    - RSU: 
      - RSU: Components/RSU/RSU/index.md
      - Add new RSU: Components/RSU/AddNewRSU/index.md
    - Environment: Components/Environment/index.md
    - Traffic: Components/Traffic/index.md
    - PCD Scanner: Components/PCDScanner/index.md
    - Logger: Components/Logger/index.md
  
  - Simple-AV: 
    - Introduction: Simple-AV/Description/index.md
    - Setting up the System: 
      - Introduction: Simple-AV/SystemSetup/intro/index.md
      - WSL2 Installation: Simple-AV/SystemSetup/WSL/index.md
      - ROS2 Installation: Simple-AV/SystemSetup/InstallingROS2/index.md
      - AWSIM on Windows: Simple-AV/SystemSetup/AWSIM_on_Windows/index.md
      - Windows/WSL Connection: Simple-AV/SystemSetup/Windows_WSL_Connection/index.md
    - Add Awsim msg: Simple-AV/Add Awsim msg/index.md
    - CommunicatingWithAWSIM: Simple-AV/CommunicatingWithAWSIM/index.md
    - CSV_Definition: Simple-AV/CSV_Definition/index.md
  - NetSim: NetSim/index.md
  - TroubleShooting: TroubleShooting/index.md
  - License: License/index.md
  - Contact: Contact/index.md


